button {
	background-color: #1A73E8;
	color: #f2f2f2;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-right: 10px;
  	transition: 0.3s;
	border-radius: 5px;
	border: none;
}

button:hover {
	background-color: #1890FF;
	color: #f2f2f2;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-right: 10px;		
}

select {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #1A73E8;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-right: 10px;
  	transition: 0.3s;
	border-radius: 5px;
}

input[type="text"], textarea {
	background-color: #ffffff;
	border: 2px solid #D9D9D9;
	border-radius: 5px;
	outline:none;
	transition-duration: 0.5s;
}

input[type="text"]:hover {
	border: 2px solid #40A9FF;
}

.branchNameInput {
	background-color: #f2f2f2;
	color: #252525;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.commitInput {
	background-color: #f2f2f2;
	color: #252525;
	padding-top:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.mergeButtons {
	margin-right: 1000px;
}

.graph {
	position: absolute;
	left: 50%;
	top: 20%;
}

#controlBox {
	border-style: solid;
	border-color: #252525;
	border-width: 6px;
	border-radius: 10px;
	position: absolute;
	top: 120px;
	width: 400px;
	height: 360px;
	background-color: #f2f2f2;
}

#mergeButton {
	position: absolute;
	top: 290px;
	left: 5px;
	width: 390px;
	height: 50px;
}

#toBranch {
	position: absolute;
	top: 240px;
	left: 200px;
	width: 195px;
	height: 50px;
}

#fromBranch {
	position: absolute;
	top: 240px;
	left: 5px;
	width: 195px;
	height: 50px;
}

#commitBranchSelect {
	position: absolute;
	left: 200px;
	top: 175px;
	width: 97.5px;
	height: 50px;
}

#commitBranchButton {
	position: absolute;
	left: 297.5px;
	top: 175px;
	height: 50px;
	width: 97.5px;
}

#commitBranchInput {
	position: absolute;
	left: 6px;
	top: 175px;
	height: 50px;
	width: 195px;
}

#branchNameButton {
	position: absolute;
	left: 255px;
	top: 125px;
	height: 50px;
	width: 140px;
}

#branchNameInput {
	position: absolute;
	width: 250px;
	height: 50px;
	top: 125px;
	left: 6px;
}

#clearButton {
	position: absolute;
	top: 355px;
	left: 5px;
	width: 193px;
	height: 50px;
}

#pngExportButton {
	position: absolute;
	top: 355px;
	left: 202px;
	width: 193px;
	height: 50px;
}